CONFIG_PVH=y
CONFIG_BPF_LSM=y
CONFIG_SECURITY=y
CONFIG_SECURITYFS=y
CONFIG_FS_VERITY=y
CONFIG_IMA=y
CONFIG_IMA_APPRAISE=y
CONFIG_IMA_READ_POLICY=y
CONFIG_IMA_WRITE_POLICY=y
CONFIG_INTEGRITY_SIGNATURE=y
CONFIG_INTEGRITY_ASYMMETRIC_KEYS=y
CONFIG_INTEGRITY_TRUSTED_KEYRING=n
CONFIG_IMA_TRUSTED_KEYRING=n
